body{
		font-family:微軟正黑體,Verdana,arial,sans-serif;
	}
div {
		margin-left:30%;
		margin-top:10%;	
	}
.textdiv	{
		margin-left:20%;
		color:royalblue;
		text-align:center;
		text-decoration:none;
	}
a:hover{	
		color:#26207C;
		text-align:center;
		text-decoration:none;
	}
a:active { text-decoration : none;
			color:F70C0C;}